@import "../../assets/sass/variables.scss";

.review {
  padding: 0;
}

.review__username {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  color: $color-dark;
}

.review__list {
  margin: 0 0 20px 0;
  padding: 0;
}

.review__advantages-container,
.review__disadvantages-container {
  position: relative;
  margin: 0 0 14px 0;
  padding: 0 0 0 18.5px;
}

.review__advantages-container {
  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 7px;
    height: 1px;
    background-color: $color-accent;
    content: "";
  }

  &::after {
    position: absolute;
    top: 7px;
    left: 3px;
    width: 1px;
    height: 7px;
    background-color: $color-accent;
    content: "";
  }
}

.review:last-of-type .review__advantages-container {
  margin-bottom: 10px;
}

.review:last-of-type .review__list-disadvantages-description {
  padding-left: 2px;
}

.review:last-of-type .review__disadvantages-container {
  margin-bottom: 27px;
}

.review__disadvantages-container {
  &::before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 7px;
    height: 1px;
    background-color: $color-accent;
    content: "";
  }
}

.review__list-term {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 600;
  line-height: 20.43px;
}

.review__list-description {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

.review__rating {
  position: relative;
  margin: 0 0 27px 0;
  padding: 0 0 0 123px;
  min-height: 17px;
  color: $color-accent;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./stars-unrated.svg");
    background-size: 103px 17px;
    background-repeat: no-repeat;
    background-color: $color-gray-2;
    width: 103px;
    height: 17px;
    content: "";
  }
}

.review__rating-stars {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./stars-rated.svg");
  background-size: 103px 17px;
  background-repeat: no-repeat;
  background-color: $color-accent;
  width: 103px;
  height: 17px;
}

.review__footer {
  margin: 0;
  border-bottom: 0.5px solid $color-dark-dark-1;
  padding: 0 0 20px 0;
}

.review__time {
  display: inline-block;
  margin: 0 26px 0 0;
  padding: 0;
  max-width: 200px;
  font-size: 14px;
  line-height: 19.07px;
  opacity: 0.4;
}

.review__reply-button {
  display: inline-block;
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 21.79px;
  color: $color-accent;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
