@import "../../assets/sass/variables.scss";

.info {
  width: 44.35%;
}

.info__title {
  margin: 0 0 22px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.85px;
}

.info__features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 37px 0;
  padding: 0;
  font-size: 16px;
  line-height: 21.79px;
  color: $color-dark-special;
  list-style: none;
}

.info__features-list-item {
  position: relative;
  margin-right: 7px;
  padding: 40px 0 0 0;
  min-width: 70px;
  text-align: center;

  &::before {
    display: block;
    position: absolute;
    left: calc(50% + 1px);
    transform: translateX(-50%);
    opacity: 0.5;
    content: "";
  }
}

.info__features-list-item--benzin {
  &::before {
    top: 9px;
    background-image: url("./icon-gas-station.svg");
    background-size: 24px 22px;
    background-repeat: no-repeat;
    background-color: $color-dark-special;
    width: 24px;
    height: 22px;
  }
}

.info__features-list-item--mechanical {
  &::before {
    top: 7px;
    background-image: url("./icon-mechanical.svg");
    background-size: 26px 24px;
    background-repeat: no-repeat;
    background-color: $color-dark-special;
    width: 26px;
    height: 24px;
  }
}

.info__features-list-item--power {
  &::before {
    top: 8px;
    background-image: url("./icon-horse.svg");
    background-size: 32px 21px;
    background-repeat: no-repeat;
    background-color: $color-dark-special;
    width: 32px;
    height: 21px;
  }
}

.info__features-list-item--volume {
  &::before {
    top: 8px;
    background-image: url("./icon-engine.svg");
    background-size: 30px 23px;
    background-repeat: no-repeat;
    background-color: $color-dark-special;
    width: 30px;
    height: 23px;
  }
}

.info__price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 38px 0;
  padding: 0;
}

.info__price-new {
  margin: 0 36px 0 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 47.66px;
}

.info__price-old {
  position: relative;
  margin: 0 30px 0 0;
  padding: 12px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  opacity: 0.5;
  text-decoration: none;

  &::before {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-5.39deg);
    padding: inherit;
    background-color: $color-dark;
    background-clip: content-box;
    width: 111%;
    height: 2px;
    opacity: 0.5;
    content: "";
  }
}

.info__actions-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.info__request-button {
  margin: 0 0 15px 0;
}

.info__request-button,
.info__credit-button  {
  position: relative;
  left: -3px;
  max-width: 300px;
}
