@import "../../assets/sass/variables.scss";

.header {
  box-sizing: border-box;
  margin: 0;
  background-color: $color-light;
  padding: 15px 0 9px 0;
  min-height: 84px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 6px;
}

.header__logo {
  margin-right: 100px;
}
