@import "../../assets/sass/variables.scss";

.wrapper-fluid {
  margin-left: auto;
  margin-right: auto;
  width: ($extra-large-wrapper-width / $extra-large-viewport-width  * 100%);
  min-width: $large-wrapper-width;
  max-width: $extra-large-wrapper-width;
}
