// Breakepoints
$large-viewport-width: 1024px;
$extra-large-viewport-width: 1920px;

// Pddings
$large-viewport-padding: 21px;
$extra-large-viewport-padding: 370px;

// Wrapper widths
$large-wrapper-width: $large-viewport-width - $large-viewport-padding * 2;
$extra-large-wrapper-width: $extra-large-viewport-width - $extra-large-viewport-padding * 2;

// Colors
$color-dark: #48494d;
$color-dark-dark: #000000;
$color-dark-special: rgba(72, 73, 77, 0.5);
$color-light: #f5f5f9;
$color-light-light: #ffffff;
$color-light-1: #d7d9df;
$color-accent: #d12136;
$color-accent-1: #bd0c21;
$color-gray: #d7d9df;
